// Base stylings and structure to override in the main theme.less file

* {
    .fixboxmodel();
    position: relative;
}

a {
    color: blue;
    text-decoration: none;
}

body {
    color: #111;
    font-family: @font-family-base;
    font-size: @font-size-base;
}

img {
    height: auto;
    max-width: 100%;
}

// Responsive video elements
video {
    height: auto !important;
    width: 100% !important;
}
